mixin draftSet(team)
    - var baseTabIndex = (team === 'blu' ? 1 : 2)
    .ncg-label(class="color-" + team)=team.toUpperCase()
    select.draft-picker.form-control(data-set="draftable", data-team=team, data-index="0")
    select.draft-picker.form-control(data-set="draftable", data-team=team, data-index="1")
    select.draft-picker.form-control(data-set="draftable", data-team=team, data-index="2")
    select.draft-picker.form-control(data-set="draftable", data-team=team, data-index="3")
    select.draft-picker.form-control(data-set="draftable", data-team=team, data-index="4")
    select.draft-picker.form-control(data-set="draftable", data-team=team, data-index="5")

h3 Draft Players
div(style="display: flex;")
    .column
        +draftSet("blu")
    .column
        +draftSet("red")
.btn-group.btn-group-justified(style="margin-top: 8px;")
    .btn-group
        button.btn.btn-xs.btn-primary(type="button" command="lock") Lock-in Draft

hr

h3 Ban Players
div(style="display: flex;")
    .column
        .ncg-label AVAILABLE PLAYERS
    .column
        .ncg-label(style="margin-left: 16px;") BANNED PLAYERS
div(style="display: flex;")
    .column
        select.form-control(multiple, data-set="available", data-id="ban_available")
    div(style="display: flex; flex-direction: column; justify-content: center; margin-left: 4px; margin-right: 4px;")
        button.btn.btn-xs.btn-primary(type="button" command="ban" style="margin-bottom: 8px;") >
        button.btn.btn-xs.btn-primary(type="button" command="unban") <
    .column
        select.form-control(multiple, data-set="banned", data-id="ban_banned")

hr

h3(title="Picked players are players that have been drafted, played in a game,\n" +
         "and have now been removed from the pool to give others a shot.")
    |Picked Players
div(style="display: flex;")
    .column
        .ncg-label AVAILABLE PLAYERS
    .column
        .ncg-label(style="margin-left: 16px;") PICKED PLAYERS
div(style="display: flex;")
    .column
        select.form-control(multiple, data-set="available", data-id="pick_available")
    div(style="display: flex; flex-direction: column; justify-content: center; margin-left: 4px; margin-right: 4px;")
        button.btn.btn-xs.btn-primary(type="button" command="pick" style="margin-bottom: 8px;") >
        button.btn.btn-xs.btn-primary(type="button" command="unpick") <
    .column
        select.form-control(multiple, data-set="picked", data-id="pick_picked")


