mixin controlSet(disabled)
    .column
        +control("blu", disabled)
    .column
        +control("red", disabled)

mixin control(team, disabled)
    - var baseTabIndex = (team === 'blu' ? 1 : 2)
    .ncg-label(class="color-"+team)=team.toUpperCase()
    .input-group
        span.input-group-addon Tag
        input.form-control(type="text" team=team field="tag" tabIndex=baseTabIndex disabled=disabled)
    .input-group
        span.input-group-addon Score
        input.form-control(type="number" min="0" max="9" team=team field="score" tabIndex=baseTabIndex+2 disabled=disabled)

div(style="display: flex;")
    .column
        h4(style="margin-top: 0px;") Preview
        .js-preview(style="display: flex; margin-bottom: 4px;")
            +controlSet
        button.btn.btn-xs.btn-info(type="button" command="take") Take
    .column
        h4(style="margin-top: 0px;") Program
        .js-program(style="display: flex; margin-bottom: 4px;")
            +controlSet(true)
        .ncg-btn-group
            .btn-group.btn-group-justified
                .btn-group
                    button.btn.btn-xs.btn-success(type="button" command="show") Show
                .btn-group
                    button.btn.btn-xs.btn-danger(type="button" command="hide") Hide
                .btn-group
                    button.btn.btn-xs.btn-primary(type="button" command="swap") Swap
